html, body{
    margin: 0;
    padding: 0;
	
}
a {
    display:none;
  }
  p{font-size:14px;}

img{
      width: 100%;
   }


@media screen and (min-width: 700px) {
    body {font-size: 12px;}  /* Font size for all content on the page to be 12px*/

    p{
        max-width: 650px;
		text-align: center;
		margin:0px auto;
		padding-left:5px;
      }

    a{
        display:inline;
     }
}

@media screen and (min-width: 1024px) {
    p{max-width: 1000px;}
}

