html, body{
    margin: 0;
    padding: 0;
}
#mobile-hamburger{
                  position:relative;
                 }
nav{ 
    display:none;
    background-color: coral;
    padding: 20px  0px 20px 0px;
   
  }
nav ul li{ 
       list-style-type: none;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       margin-left: 30px;
       }
 li{
    font-size: 20px;
 } 
 li a{
    text-decoration: none;
 }

 img{ 
       
       width:20%;
    }    
 article h2{
             color:darkkhaki;
             font-weight: bold;
             font-size: 25px;
           }
 h2{
    padding-top: 15px;
    font-stretch: expanded;
    color:green;
    font-size: 35px;
   }
   section p{
            font-size: 20px;
            color:crimson
   }
   section p a{
               text-decoration: none;
   }
footer{
    font-size:25px;
    text-align: center;
    padding:10px;
    }

@media screen and (min-width: 500px)
{
    #mobile-hamburger{
                      display:none;
                     }
    nav{
        display: block; 
        background-color: coral;
        padding: 20px  0px 20px 0px;
       }
    ul li{
          font-size: 20px;
         } 
    .row{
        margin-left: 2px;;
        width:99%;
        height:100%;
        background-color: aquamarine;
       }              
        
    img{width:31%;} 

    .wrapper{
             margin-top: 10px;
             padding:10px 10px 10px 10px;
            }
    
/*Footer Style*/
    footer {
            font-size: 35px;
            text-align: center;
            
           }
    .container p a{
                   text-decoration: none;
                  } 
} 